@media (min-width:1000px){
    .container {
        background-image: url("imgs/storm.jpg");
        background-repeat: no-repeat;
        background-size: 1300px 900px;
        width: 100%;
        padding: 2%;
   }
}
@media (max-width:999px){
    .container {
        background-image: url("imgs/storm2.jpg");
        background-size: auto;
    }    
    #currCity {
    padding-left: 4%;
}    
    .card {
        margin: 10%;
    }  
    body {
        margin-left: 10%;
    } 
}

body {
    margin: 0;
    padding: 0;
}

#my-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 5;
}
h4 {
    padding-left: 10%;
}
.card {
    opacity: .7;
    padding: 0;
}

.card-header {
    font-family: 'Metal Mania', cursive;
    background-color: lightgray;
}
li {
    font-family: 'Metal Mania', cursive;
    background-color: white;
    font-weight: bolder;
    font-size: 1.1em;
}
.col {
    margin: 0;
    padding: 0;
}
#cUV {
    opacity: .7;
}
.collection {
    background: transparent;
}
