.container {
    background-image: url("https://www.nationalgeographic.com/content/dam/magazine/rights-exempt/2020/02/departments/explore/chasing-storms-supercell-farm-elevator.adapt.1900.1.jpg");
    background-size: cover;
    width: 100%;
    padding: 2%;
   }

body {
    margin: 0;
    padding: 0;
}

#my-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 5;
}
h4 {
    padding-left: 10%;
}
.card {
    opacity: .6;
    margin: 10%;
    padding: 0;
}

.card-header {
    font-family: 'Metal Mania', cursive;
    background-color: lightgray;
    font-weight: bolder;
    font-size: 1.3em;
}
li {
    font-family: 'Metal Mania', cursive;
    background-color: white;
    font-weight: bolder;
    font-size: 1.1em;
}
.col {
    margin: 0;
    padding: 0;
}
#cUV {
    opacity: .3;
}
.collection {
    background: transparent;
}
.cityBtn {
    opacity: 10;
}